<div fxLayout="row" fxFlexFill fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="200px" class="border">
    <app-users-list></app-users-list>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100px" class="border">
      <app-vote-banner></app-vote-banner>
    </div>
    <div fxFlex fxFlexFill class="border">
      <app-current-track></app-current-track>
    </div>
    <div fxFlex class="border">
      <app-performer-queue></app-performer-queue>
    </div>
  </div>
  <div fxFlex="200px" class="border">
    <app-chat></app-chat>
  </div>

</div>

